logging.formatters.f1.class = PatternFormatter
logging.formatters.f1.pattern = %s: [%p] %t
logging.formatters.f1.times = UTC

logging.channels.c1.class = ConsoleChannel
logging.channels.c1.formatter = f1
logging.channels.c2.class = FileChannel
logging.channels.c2.path = ${system.tempDir}/sample.log
logging.channels.c2.formatter.class = PatternFormatter
logging.channels.c2.formatter.pattern = %s: [%p] %t
logging.channels.c3.class = ConsoleChannel
logging.channels.c3.pattern = %s: [%p] %t


logging.channels.go.class = FileChannel
logging.channels.go.path = super-go.log
logging.channels.go.formatter.class = PatternFormatter
logging.channels.go.formatter.pattern = %s: [%p] %t

logging.loggers.root.channel = go
logging.loggers.root.level = debug
logging.loggers.l1.name = UctLogger
logging.loggers.l1.channel = go
logging.loggers.l1.level = fatal
logging.loggers.l2.name = TreeLogger
logging.loggers.l2.channel = go
logging.loggers.l2.level = fatal

logging.loggers.l3.name = SearchLogger
logging.loggers.l3.channel = go
logging.loggers.l3.level = fatal
