NumNode=30000
NumPlayOut=1
CFinal=20000
CInitial=0.9
CUCT=0.7
Komi=6.5
FirstPlayUrgency=1000.
TimeLimit = 8000
NumThread = 1
TreeDebug = false
SearchDebug = true
UctDebug = true
UseBook = false
PreprocessChildren = false
UseBias = true
LargeWinBonus = 0.1
PatternWeight = 0.0
EndGameThreshold = 60
EndGameLargeWinBonus = 0.5
UseDynamicKomi = true
DynamicKomiCoefficient = 0.8